<div>
  <form [formGroup]="form" (submit)="login()" method="post">
    <h1 mat-dialog-title>INGRESAR</h1>
    <mat-dialog-content>
      <mat-form-field class="example-full-width">
        <input
          formControlName="email"
          matInput
          placeholder="Ingresa un correo"
          autocomplete="off"
        />
        <mat-error *ngIf="form.get('email').hasError('required')">
          Ingresa un correo valido
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-flat-button
        color="primary"
      >
        Entrar
      </button>
    </mat-dialog-actions>
  </form>
</div>
