<div>
    <form (submit)="onLogin(f)" #f="ngForm">
        <mat-dialog-content>

            <mat-form-field class="example-full-width">
                <input matInput type="email" name="correo" ngModel #emailE="ngModel" required />
                <mat-placeholder class="placeholder">Correos</mat-placeholder>
                <mat-error *ngIf="emailE.invalid"> ingresa un email valido</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="password" name="contraseña" ngModel #pssE="ngModel" required />
                <mat-placeholder class="placeholder">Pase</mat-placeholder>
                <mat-error *ngIf="pssE.invalid"> ingresa un email valido</mat-error>
            </mat-form-field>

        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button type="submit">Login</button>
        </mat-dialog-actions>
    </form>
</div>