@import "../../../styles/vars";
.mat-toolbar {
    margin-top: $talla-l;
}

.tb {
    width: 100%;
    font-size: 2.5vw;
}

.tb:after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    float: left;
    width: 25%;
    color: lightblue;
}