<mat-toolbar color="primary">
    <span>
  <a id="poke" routerLink="/">
    <!-- <mat-icon svgIcon="icono-pokeball"></mat-icon> -->
    <img style="width: 30px;height:30px" [src]="watermelon" />
  </a>
</span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="estaAut">
            <a (click)="addTweet()" mat-button>
                <img style="width: 30px;height:30px" [src]="plus" />
            </a>
        </li >
        <li *ngIf="estaAut">
            <a mat-button routerLink="/tweets">
                <img style="width: 30px;height:30px" [src]="note" />
            </a>
        </li>
        <li *ngIf="estaAut">
          <a (click)="logout()" mat-button >
              Salir
          </a>
      </li>
        <li *ngIf="!estaAut">
            <a (click)="onSignup()" mat-button >
                <!-- <img style="width: 30px;height:30px" [src]="in" /> -->
                Registro
            </a>
        </li>
        <li *ngIf="!estaAut">
            <a (click)="onLogin()" mat-button >
                <!-- <img style="width: 30px;height:30px" [src]="signup" /> -->
                Entrar
            </a>
        </li>
        <li></li>
    </ul>
</mat-toolbar>
