<mat-spinner *ngIf="cargando"></mat-spinner>
<button class="btn" mat-button>TODAS LAS NOTAS</button>
<div *ngIf="!cargando">
    <mat-card *ngIf="tweets.length > 0; else notFirst;">
        <mat-card *ngFor="let t of tweets">
            <mat-card-content>
                {{t.descripcion}}
            </mat-card-content>
            <mat-card-actions>
                <button (click)="onEdit(t.id)" mat-button>EDIT</button>
                <button (click)="onDelete(t.id)" mat-button>X</button>
            </mat-card-actions>
        </mat-card>
    </mat-card>
</div>

<ng-template #notFirst>
    <mat-card class="sin">
        <mat-card-content>
            <p>
                crea un tuit.
            </p>
        </mat-card-content>
    </mat-card>
</ng-template>