<div class="container"></div>
<mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile style="background: rgb(34, 36, 41);">
        <mat-card>
            <div class="s">HOLA, </div>
            <div class="s">SOY GERARDO</div>
            <div class="s">DESARROLLADOR WEB JS</div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="code">
                ANGULAR+2, EXPRESS, NODEJS, MONGODB, GIT, AWS,
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div class="p"></div>