@import "../../../styles/vars";
.container {
  width: 100%;
  height: 230px;
  background: url("../../../../assets/images/wall.jpg") no-repeat;
  background-size: cover;
}

.avatar {
  width: 190px;
  height: 190px;
  border: 3px solid #222429;
  border-radius: 50%;
  background: url("../../../../assets/images/png/avatar.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 175px;
  z-index: 1;
  left: 20px;
}

.name {
  font-family: $osw;
  color: $lb;
  font-size: larger;
  text-align: left;
}

.profile {
  font-family: $osw;
  color: $dg;
  text-align: left;
}

.code {
  font-family: $osw;
  color: blanchedalmond;
  text-align: left;
}

mat-grid-list {
  background-color: #222429;
}

.vocational {
  font-family: $osw;
  color: $lb;
  font-size: large;
  text-align: center;
  margin-bottom: 2em;
}

.profession {
  font-family: $osw;
  color: $dg;
  font-size: large;

  mat-card {
    background: #222429;
    font-family: $osw;
  }

  mat-card-title {
    font-size: medium;
    color: powderblue;
    span {color:cadetblue;}
  }
  mat-card-subtitle {
    color: cornflowerblue;
  }
  mat-card-content {
    font-size: 15px;
    color: darkgray;
  }
  span {
    font-size: smaller;
    color: $dg;
  }
}

.chip-ang {
  background-color: crimson;
  color: #fff;
}

.chip-node {
  background-color: #83ba00;
  color: #fff;
}

.chip-rx {
  background-color: #e91d8e;
  color: #fff;
}
