<div class="container"></div>
<mat-grid-list cols="2" rowHeight="190px">
    <mat-grid-tile style="background: rgb(34, 36, 41);">
        <mat-card>
            <div class="name">
                ING. GERARDO MANUEL BAUTISTA
            </div>
            <div class="profile">
                DESARROLLADOR FRONT-END ANGULAR
            </div>
            <div class="code">
                ANGULAR+2, JAVASCRIPT , RxJS, NODEJS, GIT, CI/CD
            </div>
            <!-- <div class="y">
                <div><img style="width: 20px;height:20px" [src]="location" />
                    <span>CDMX</span>
                </div>
                <div><img style="width: 20px;height:20px" [src]="calendar" />
                    <span>31 AÑOS</span>
                </div>
            </div> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <!-- <mat-card>
          <h2 class="mat-h2">INGENIERO EN COMPUTACIÓN</h2>
          <h3 class="mat-h2">FACULTAD DE ESTUDIOS SUPERIORES ARAGÓN</h3>
        </mat-card> -->

    </mat-grid-tile>
</mat-grid-list>
<div class="p"></div>
