@import "../../styles/vars.scss";
.mat-toolbar {
    margin-top: $talla-l;
}

.tb {
    width: 100%;
}

.tb:after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    float: left;
    width: 25%;
    color: lightblue;
}

// .column {
//     float: left;
//     width: 25%;
// }
// /* Clear floats after the columns */
// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }